<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <title>Friendspire Template</title>
    </head>

    <body style="background: #f7f8f9; font-family: 'Open Sans', sans-serif;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f8f9" style="padding: 40px 0; font-family: 'Open Sans', sans-serif;">
            <tbody>
                <tr>
                    <td align="center">
                        <table width="640" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                            <tbody>
                                <tr>
                                    <td style="padding:14px;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: 3px solid #123766">
                                            <tbody>
                                                <tr>
                                                    <td style="text-align: center; padding: 20px 0 30px">
                                                        <img alt="Friendspire" src="{{image_logo}}" width="65" height="50"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left; padding: 10px 35px; font-size: 14px; line-height: 22px; color: #123766; font-family: 'Open Sans', sans-serif;">
                                                        {{content|safe}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:20px 10px 8px">

                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="80">&nbsp;</td>
                                                                    <td  style="font-size: 10px; line-height: 16px; text-align: center; color: #123766; font-family: 'Open Sans', sans-serif;">Need help? Have feedback? <br>
                                                                        Please contact us at <a href="#" style="color: #123766; text-decoration: none">info@friendspire.com</a></td>
                                                                    <td width="80" align="right">
<!--                                                                        <a href="#"><img src="{{fb_logo}}" width="21" height="21" alt="Facebook"/></a>
                                                                        <a href="#"><img src="{{insta_logo}}" width="21" height="21" alt="Instagram"/></a>-->
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>


                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>


                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>


    </body>
</html>
