<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Friendspire | Reset-password</title>
        <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
        <link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/images/favicon.png"/>
        <style>
            .error
            {
                color:#FF0000;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
        <script>
            jQuery(document).ready(function () {
                $(".alert").fadeOut(5000);
                $.validator.addMethod("regex", function (value, element, regexpr) {
                    return regexpr.test(value);
                }, "Entry invalid");

                $('.reset_password').validate({
                    rules: {
                        password: {
                            required: true,
                            rangelength: [8, 16],
                            regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/,
                        },
                        password_confirmation: {
                            required: true,
                            rangelength: [8, 16],
                        }
                    },
                    messages: {
                        password: {
                            required: "Please enter the password.",
                            rangelength: "Please enter the password between 8 to 16 characters",
                            regex: "Your password should include alphabets,numbers and special characters",
                        },
                        password_confirmation: {
                            required: "Please enter the password.",
                            rangelength: "Please enter the password between 8 to 16 characters",
                        }
                    }
                });
            });


        </script>
    </head>

    <body>
        <div class="main">
            <div class="top_bar">
                <h1><img class="img-responsive" src="/images/logo.png" width="90px"/></h1>
            </div>
            <div class="clear"></div>
            <div class="container">
                <div class="field_box_center">
                    {% include "./flashMessage_Success.html" %}	
                    <div class="field_box_centerIn su">
                        <h1>Update password</h1> 

                        <form method="post" class="reset_password" name ="reset_password" action="/reset-password/{{userId}}">
                            <input type="hidden" name="token" value="{{userId}}">
                            <div class="pswrd_field">
                                <label>New Password</label>
                                <input class="form-control" type="password"  name="password" placeholder="New Password" />
                            </div>

                            <div class="pswrd_field">
                                <label>Confirm Password</label>
                                <input class="form-control" type="password" name="password_confirmation" placeholder="Confirm Password" />
                            </div>
                            <div class="pswrd_field">
                                <input class="btn btn-primary" type="submit"  name="Save" value="Submit"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
