<html>

    <head>
        <title>Friendspire | TERMS AND CONDITIONS</title>
        <style type="text/css">
            body,
            td,
            th,
            span,
            div,
            p,
            h3 {
                margin-left: 10px !important;
                color: #808080 !important;
                font-family: Helvetica !important;
                font-size: 12px !important;
            }
        </style>

    <body>
        {{data|safe}}
    </body>

</html>
